@import './../assets/theme/dark-theme.scss';

button {
  margin-left: 20px;
}
mat-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $background-b25;
  color: $font-color;
}
.logo:hover {
  cursor:pointer ;
}
button, mat-icon {
  background: none;
  color: white;
  border: none;

}
button:hover {
  cursor: pointer;
}