@import './../assets/theme/dark-theme.scss';

button {
  margin-left: 20px;
  span {
    margin-right: 10px;
  }
}
mat-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $background-b50;
  z-index: 3;
  color: $font-color;
  position: fixed;
  top: 0;
  overflow-x: hidden;
}
.logo:hover {
  cursor:pointer ;
}
button, mat-icon {
  background: none;
  color: white;
  border: none;

}
button:hover {
  cursor: pointer;
}
#people {
  width: 10px;
  padding: 0;
}
.accountDetails {
  position: fixed;
  width: 150px;
  min-height: 125px;
  z-index: 10;
  border-radius: 10px;
  right: 16px;
  top: 75px;
  color: $font-color;
  mat-card-content {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  .line {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    mat-icon {
      margin-right: 20px
    }
    span {
      height: 24px;
      display: flex;
      flex-direction: column ;
      justify-content: center;
    }
  }
  hr {
    margin-bottom: 20px;
  }
  button {
    font-family: "Dosis bold";
    margin: 0 0 10px;

    span {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
.overhead {
  background: $background-w75;

}

