@import './../assets/theme/dark-theme.scss';

button {
  margin-left: 20px;
}
mat-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: left;
  background: $background-b25;
  color: $font-color;
}
.logo:hover {
  cursor:pointer ;
}
