@import "../../../assets/theme/dark-theme";

.match-box {
  background: $background-w50;
  width: 50%;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.match {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
}
.vs-space {
  width: 10px;
}
.counterscore {
  color: $theme-primary;
  font: 50px "Dosis bold";
  height: 95%;
  margin-top: 2px;
  margin-right: 2px;
  width: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $background-w100;
  span {
    display: flex;
    justify-content: center;
  }
}
img {
  margin-top: 25px;
  width: 40px;
}
.match-detail {
  margin: 10px;
  width: 200px;
  .club-name {
    font-size: 20px;
    font-family: "Dosis bold";
    letter-spacing: 2px;
  }
  ul{
    list-style: none;
    position: relative;
    font-size: 10px;
    color: $font-color-b25;
  }

}
.right {
  ul li{
    text-align: left;
    right: 1rem;
  }
  text-align: right;
}
