@import "src/assets/theme/dark-theme.scss";
.base {
  color: $font-color;
}
mat-toolbar {
  background: $background-w75;
  color: $font-color;
  padding: 0;
  mat-icon {
    font-size: 40px;
    position: relative;
    top: 12px;
  }
  mat-icon:hover {
    cursor: pointer;
  }
  div {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
  }

}
.selected {
  background: $background-w25;
}
