@import "src/assets/theme/dark-theme.scss";
.ground {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
mat-card {
    width: 30%;
    color: $font-color;
    background-color: $background-w50;
}
mat-card-content {
    display: flex;
    flex-direction: column;
    mat-form-field {
        color: $font-color;
        margin-top: 1rem;
    }
    mat-label {
        color: $font-color-b25;
    }
    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        button {
            background-color: $background-w100;
        }
    }
    
}