<div class="ground">
    <mat-card>
        <mat-card-title *ngIf="!isregister">Login</mat-card-title>
        <mat-card-title *ngIf="isregister">Register</mat-card-title>
        <mat-card-content>
            <div>
            <mat-form-field appearance="fill">
                <mat-label>Benutzername</mat-label>
                <input matInput type="text">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <div>
                <span>
                    <a [routerLink]="['/login']" (click)="isregister = !isregister">Hier</a><span> neu registrieren</span>
                </span>
                <button mat-button>Login</button>
              </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>