@font-face {
  font-family: "Dosis normal";
  src: url("./../Fonts/Dosis/static/Dosis-Medium.ttf");
}
@font-face {
  font-family: "Dosis bold";
  src: url("./../Fonts/Dosis/static/Dosis-Bold.ttf");
}


$background-w100: #646464;
$background-w75: #4f4f4f;
$background-w50: #3d3d3d;
$background-w25: #292929;
$background: #252525;
$background-b25: #1d1d1d;
$background-b50: #151515;
$background-b75: #101010;
$background-b100: #050505;


$font-color:white;
$font-color-b25: #c4c4c4;

$theme-primary:#00A0Fe;
$theme-error:#F61732;
$theme-success: #169A13;
$theme-warning: #FDB10E;
$theme-secondary: #5D3c81;

