
$background-w100: #646464;
$background-w75: #4f4f4f;
$background-w50: #3d3d3d;
$background-w25: #292929;
$background: #252525;
$background-b25: #1d1d1d;
$background-b50: #151515;
$background-b75: #101010;
$background-b100: #050505;


$font-color:white;
