<div class="match">
  <div class="match-box">
    <div class="match-detail">
      <span class="club-name">FC Bayern München</span>
      <ul>
        <li>
          <span>Müller </span><span>62.</span>
        </li>
        <li>
          <span>Neuer </span><span>62.</span>
        </li>
      </ul>
    </div>
    <div>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/FC_Bayern_M%C3%BCnchen_logo_%282017%29.svg/1200px-FC_Bayern_M%C3%BCnchen_logo_%282017%29.svg.png" alt="Bayern München">
    </div>
    <div class="counterscore">
      <span>2</span>
    </div>
  </div>
  <div class="vs-space"></div>
  <div class="match-box">
    <div class="counterscore">
      <span>2</span>
    </div>
    <div>
      <img src="https://upload.wikimedia.org/wikipedia/de/thumb/a/aa/Fc_barcelona.svg/1200px-Fc_barcelona.svg.png">
    </div>
    <div class="match-detail right">
      <span class="club-name">FC Barcelona</span>
      <ul class="right">
        <li>
          <span>Müller </span><span>62.</span>
        </li>
        <li>
          <span>Neuer </span><span>62.</span>
        </li>
      </ul>
    </div>


  </div>
</div>
<div>
  green
</div>
