@import 'src/assets/theme/dark-theme.scss';
.website {
  margin-top: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: $font-color;
}
.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  hr {
    width: 100%;
    margin-bottom: 3rem;
  }
  .sort-header {
    width: 90%;
    height: 45px;
    display: flex;
    align-self: center;
    justify-content: space-between;
    mat-icon,mat-datepicker-toggle {
      color: $font-color;
    }
    .back {
      display: flex;
      justify-content: left;
      flex-direction: row;
      h2 {
        position: relative;
        top: 10px;
      }
    }
    mat-label {
      margin-right: 5px;
    }

  }
  .list-data {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-self: center;
    .block {
      margin-bottom: 2rem;
    }
  }
}
.tournament {
  mat-card {
    background: $background-w50;
    color: $font-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
  }
  mat-card:hover {
    cursor: pointer;
  }
}
