<div class="website">
  <div *ngIf="selectTurnament" class="tournament">
    <mat-card *ngFor="let teil of liga" (click)="selectTorunament(teil.id)">
      <mat-card-title>{{teil.name}}</mat-card-title>
    </mat-card>
  </div>


  <div *ngIf="!selectTurnament" class="list">
    <div class="sort-header">
      <div class="back">
        <button mat-button (click)="selectTurnament=true">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <h2>Spiele:</h2>
      </div>
    </div>

    <hr>

    <div class="list-data">
      <div class="block" *ngFor="let match of matches">
        <div *ngIf="showDate(match).length>0">
          <h4>{{showDate(match)}}</h4>
          <hr>
        </div>
        <app-match [matchData]="match"></app-match>
      </div>
    </div>
  </div>
</div>
