<div class="base">
  <div class="line">
    <div class="offer">
      <img src="./../../../assets/pictures/coins10.png" alt="kleiner Betrag">
      <div class="front">
        <span>10 Coins</span>
        <button mat-button (click)="getCoins(10)">Eintauschen</button>
      </div>
    </div>
    <div class="offer">
      <img src="./../../../assets/pictures/coins25.png" alt="kleiner Betrag">
      <div class="front">
        <span>25 Coins</span>
        <button mat-button (click)="getCoins(25)">Eintauschen</button>
      </div>
    </div>
  </div>
  <div class="line">
    <div class="offer">
      <img src="./../../../assets/pictures/coins50.png" alt="kleiner Betrag">
      <div class="front">
        <span>50 Coins</span>
        <button mat-button (click)="getCoins(50)">Eintauschen</button>
      </div>
    </div>
    <div class="offer">
      <img src="./../../../assets/pictures/coins100.png" alt="kleiner Betrag">
      <div class="front">
        <span>100 Coins</span>
        <button mat-button (click)="getCoins(100)">Eintauschen</button>
      </div>
    </div>
  </div>
</div>
