<div class="base">
  <h2>Alle vergangenen Wetten</h2>
  <hr>
  <div class="block">
    <table mat-table [dataSource]="bets">
      <ng-container matColumnDef="spiel_id">
        <th mat-header-cell *matHeaderCellDef>Spiel ID</th>
        <td mat-cell *matCellDef="let bet">{{bet.spiel_id}}</td>
      </ng-container>
      <ng-container matColumnDef="home">
        <th mat-header-cell *matHeaderCellDef>Schätzung Heim:</th>
        <td mat-cell *matCellDef="let bet">{{bet.homegoal}}</td>
      </ng-container>
      <ng-container matColumnDef="guest">
        <th mat-header-cell *matHeaderCellDef>Schätzung Gast:</th>
        <td mat-cell *matCellDef="let bet">{{bet.guestGoal}}</td>
      </ng-container>
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef>Gewettet</th>
        <td mat-cell *matCellDef="let bet">{{bet.value}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row (click)="navigateTo(row.spiel_id)" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <h2>Account Einstellungen</h2>
  <hr>
  <div class="block">
    <div class="line">
      <div class="text">
        <span>E-Mail Adresse</span>
        <span class="email">{{accountData ? accountData.email : 'test@mail.com'}}</span>
      </div>
    </div>
  </div>
</div>
