@import "src/assets/theme/dark-theme.scss";
.base {
  color: $font-color;
  margin-top: 8rem;
  margin-left: 2rem;
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: left;
}
hr {
  width: 100%;

}
.line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  .text {
    display: flex;
    flex-direction: column;
  }
  .email {
    font-size: 10px;
    color: $font-color-b25;
    margin-left: 10px;
  }
  button {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
mat-card {
  background: $background-w50;
  color: $font-color;
  position: absolute;
  top: 15rem;
  z-index: 5;
  left: 25%;
  width: 50%;
  mat-card-content {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;

  }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    button {
      margin: 20px;
    }
  }
  .passwort {
    display: flex;
    flex-direction: column;
    mat-form-field {
      width: 80%;
    }
  }
}
.background {
  opacity: 10%;
}
