@import "src/assets/theme/dark-theme.scss";

.base {
  color: $font-color;
  margin-top: 8rem;
  margin-left: 2rem;
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: left;
}

hr {
  width: 100%;

}
.block {
  margin-bottom: 3rem;
}
.line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;

  .text {
    display: flex;
    flex-direction: column;
  }

  .email {
    font-size: 10px;
    color: $font-color-b25;
    margin-left: 10px;
  }

  button {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

table {
  background: $background-w50;
  border-radius: 10px;
  max-height: 400px;
  overflow-y: auto;
  td,th {
    color: $font-color;
  }
  th {
    padding-left: 10px;
    padding-right: 10px;
  }
  td {
    text-align: center;
  }
}
