<div class="base">
  <h2>Account Einstellungen</h2>
  <hr>
  <div class="block">
    <div class="line">
      <div class="text">
        <span>E-Mail Adresse</span>
        <span class="email">test@mail.com</span>
      </div>
      <button mat-button>Ändern</button>
    </div>
    <div class="line">
      <div class="text">
        <span>Passwort</span>
        <span class="email">Password muss mindestens 8 Zeichen lang sein</span>
      </div>
      <button mat-button>Ändern</button>
    </div>
  </div>
</div>

